body {
  background-image: url(download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #0b5ed7;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.overview {
  margin-bottom: 20px;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(to top, #e4b6b1 0%, #f5efef 100%);
  border: 1px solid #8d98a1;
  border-radius: 15px;
  box-shadow: 3px 12px 20px #685856f1;
  padding: 20px 30px 30px;
}

/* Temperature Section */

.weather-temperature img {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  padding-right: 5px;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1.5;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

#description::first-letter {
  text-transform: capitalize;
}

#description {
  color: #0b5ed7;
}

#humidity {
  color: #0b5ed7;
}

#wind {
  color: #0b5ed7;
}
.humidity-percentage {
  color: #0b5ed7;
}

.wind-unit {
  color: #0b5ed7;
}

/* Link to my Source code */
small {
  display: block;
  margin-top: 20px;
}
