body {
  background-image: url(download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* The Search Engine Form Section */

.form-search,
.form-submit {
  font-family: "Ubuntu", sans-serif;
  box-shadow: 5px 5px 7px #8f7e7bf1;
  border-radius: 20px;
  position: relative;
}

.form-search:focus {
  border: 1px solid #8d98a1;
  outline: none;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 5px 5px 7px #a39492f1;
}

.form-submit:hover {
  background: #143868;
  border: 1px solid #211f49;
}

.city-search {
  color: white;
  padding: 11px 14px 7px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.geo-icon {
  padding: 11px 14px 7px;
  color: #0b5ed7;
  box-shadow: 5px 5px 7px #8f7e7bf1;
  border-radius: 25px;
  position: relative;
}

.geo-icon:hover {
  color: #fff;
  background: #143868;
  border: 1px solid #211f49;
}

/* The Overview section and feature */
h1 {
  font-family: "Roboto Slab", serif;
  color: #0b5ed7;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.overview {
  margin-bottom: 20px;
}

/* The container Section */

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(156, 181, 204) 90.2%
  );
  border: 1px solid #8d98a1;
  border-radius: 15px;
  box-shadow: 3px 12px 20px #685856f1;
  padding: 20px 30px 30px;
}

/* Temperature Section */

.weather-temperature img {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding-right: 3px;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1.5;
  font-weight: 400;
}

.weather-temperature .units {
  font-family: "Ubuntu", sans-serif;
  position: relative;
  font-size: 16px;
  top: -34px;
}

#description::first-letter {
  text-transform: capitalize;
}

#description {
  color: #0b5ed7;
}

#humidity {
  color: #0b5ed7;
}

#wind {
  color: #0b5ed7;
}
.humidity-percentage {
  color: #0b5ed7;
}

.wind-unit {
  color: #0b5ed7;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.weather-temperature .active {
  color: #000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-max {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  color: #0b5ed7;
}

.weather-forecast-temperature-min {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  color: #022353;
}

/* Link to my Source code */
small {
  font-family: "Roboto Slab", serif;
  display: block;
  margin-top: 20px;
}

.open-source-link {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.github-name {
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body {
    background-image: url(cloud-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
